@charset "utf-8";
/* CSS Document */

* {padding:0; margin:0}
html, body {width:100%; height:100%;}
body {font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#000; background-color:#fff;}
a {text-decoration:none; outline:none; border:none; color:#333;}
a img {border:none; outline:none;}
.clearing {clear:both;}

.layer {width:100%; margin-top:10px; position:relative;}
.container {margin:0 auto; width:1000px;}

.header {width:100%; height:25px; border:#999 1px solid; margin-bottom:10px; padding-top:10px; text-align:center; background-color: #CCC;}
.left {width:290px; float:left; border:#999 1px solid; padding:5px;}
.left ul {margin:0; padding:0;}
.left ul li {list-style:none;}
.content {width:676px; float:left; border:#999 1px solid; margin-left:10px; padding:5px;}
.footer {width:100%; height: auto; border:#999 1px solid; margin-top:10px; padding-top:5px; text-align:center;}
.listMenu {
    margin:0; padding:0;
    list-style-type:none;
}
.listMenu li {
    display:inline;
    font-size:14px;
    font-weight:bold;
}
.listMenu li a {
    color:#000;
    text-decoration:none;
}
.listMenu li a:hover {
    color:#000;
    text-decoration:none;
    border-bottom:3px solid #0066CC;
}